body {
    background-image: url(/src/images/sky.png);
    background-color: #353342;
    padding: 0;
    margin: 0;
    align-items: center;
}

.ronaldo {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 250px;
}

.aboutother {
    color: white;
}